
{% extends 'base.html'%}
{% load static %}
{% block content %}
{{ block.super }}
<div id="cover"></div> 
<div class="row">
    <div class="col-1"></div>
    {% if projects %}
    {% for project in projects %}
    <div class="col-10 mt-5 text-black">
        <div class="card" style="width: 18rem;">
          
            <img class="card-img-top" src="{{project.image.url}}" alt="Card image cap">
            <h4>{{project.title}}</h4>
            <div class="card-body">
              <p class="card-text">{{project.detail_desciption}}</p>
            </div>
            <p>Posted by: {{project.user.username}}</p>
            <a href="{{project.url}}"><p>Visit site</p></a>
          </div>
          {% endfor %}
          {% endif %}
    <div class="col-1"></div>
</div>
 

{% endblock %}